/* Контакти хедер */
.contacts {
    @extend %list;

    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
}

.contacts__link {
    display: flex;
    align-items: center;

    color: $primary-text-color;
    font-weight: 500;
    line-height: 1.1429;
    letter-spacing: 0.02em;

    min-width: 122px;
    padding: 32px 0px;

    transition: color $transition;

    &:hover,
        &:focus{color: $accent-color;}

}



.contacts__icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
}