/* Клієнти */
.client__list {
    @extend %list;

    // display: inline-flex;
    // gap: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: center;
    
    @media screen and (min-width:480px) {
    flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width:768px) {
    flex-basis: calc((100% - 60px) / 3);
    }    
    @media screen and (min-width:1200px) {
    flex-basis: calc((100% - 150px) / 6);
    }
    
}

.client__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid $color-icon;
    border-radius: 4px;
    color: $color-icon;
    cursor: pointer;

    transition: background-color $transition,
    color $transition;
       
    &:hover{
          
    color: $accent-color; 
    border-color: $accent-color;
        }


}



.client__icon {
    fill: currentColor;
}