/* Герой */
.hero {
    background-color: $second-background-color;
    text-align: center;
    // padding: 200px 0px 200px;
    
    
}
.hero__container{
    padding: 118px 60px;
}

.hero__title {
    color: $primary-white-color;
    font-weight: 900;
    // font-size: 44px;
    // line-height: 1.3637;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 30px;
    // width: 696px;
    width: 100%;
    text-align: center;

    font-size: 26px;
    line-height: calc(42px/26px);

    @media screen and (min-width:1200px) {
            font-size: 44px;
                line-height: 1.3637;
                width: 696px;
        }

}

.hero__button {
    display: block;
    margin: 0px auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

}

.bg-hero {
    height: 400px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: $bg-gradient, 
        url(../image/mobile-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
        background-image: $bg-gradient,
                url(../image/mobile-header-2x.jpg);
        }

@media screen and (min-width:480px) {
    background-image: $bg-gradient,
            url(../image/tablet-header.jpg);

            @include retina {
                    background-image: $bg-gradient,
                        url(../image/tablet-header-2x.jpg);
                }
    }
@media screen and (min-width:768px) {
    background-image: $bg-gradient,
            url(../image/hero-border.jpg);
    }

           @include retina {
            background-image: $bg-gradient,
                url(../image/hero-2x.jpg);
        }


}