/* Герой */
.hero {
    background-color: $second-background-color;
    text-align: center;
    padding: 200px 0px 200px;
    
}

.hero__title {
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3637;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 30px;
    width: 696px;
    text-align: center;
}

.hero__button {
    display: block;
    margin: 0px auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

}

.bg-hero {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../image/hero-border.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}