/* Секції */
.section {
    margin: 0px auto;
    padding: 94px 0;
}

.section-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}