/* Футтер форма */
.footer__form {
    
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
    @media screen and (min-width:1200px) {
        margin-left: auto    ;
        display: inline-block;


      }
}

.footer__form-field {

    @media screen and (min-width:1200px) {
        display: flex;
        margin-top: 20px;
        gap: 12px;

        }

}

.footer__input-mail {
    width: 100%;
    min-width: 300px;
    height: 50px;
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $primary-white-color;

    padding-left: 16px;

    background-color: $second-background-color;

    transition: border-color $transition;
     
    &:hover , &:focus {
            border-color: $accent-color;
                outline: none;
    }
        @media screen and (min-width:480px) {
            min-width: 450px;
    
        }


     @media screen and (min-width:1200px) {
        width: 100%;
        min-width: 358px;
        margin: 0;
        
    
         }

    
}


.footer__label-mail {
      width: 100%;

      text-align: center;


    font-family: $base-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-white-color;

    @media screen and (min-width:1200px) {
            margin-bottom: 20px;
            }
    

}

.footer__button {
    display: flex;
    gap: 10px;

    margin: auto;

    justify-content: center;

    font-family: $base-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: $primary-white-color;
    fill: $primary-white-color;
}