/* Приєднуйтесь */

.footer__box {
    display: flex;
    flex-wrap: wrap;
    // align-items: baseline;

    margin: 0%;
    justify-content: center;
            @media screen and (min-width:1200px) {
                 align-items: baseline;
                }
}

.footer__box-address{
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width:1200px) {
    text-align: start;
    margin-bottom: 0px;
    }
}

.footer__group {
   
    display: inline-block;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    // margin-left: 70px;
    margin-bottom: 60px;
    padding: 0 124px;
        @media screen and (min-width:768px) {
            padding: 0;
            margin-left: 165px;
            margin-bottom: 0px;
            }
        @media screen and (min-width:1200px) {
         margin-left: 70px;
         }
}



.footer__text {
    font-family: $base-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-white-color;
    text-align: center
    
}

.footer__network-list {
    @extend %list;

    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
    border: none;
}


.footer__link {
    display: flex;
    border: none;
    padding: 12px;
    color: $primary-white-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color $transition,
        color $transition;

    &:hover , &:focus {
            color: $primary-white-color;
            background-color: $accent-color;
    }    
}



.footer__network {
    width: 20px;
    height: 20px;
    fill: currentColor;
}