/* Наші плюси */

.feature__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.feature__title {
    color: $title-text-color;
    font-weight: 700;
    line-height: 1.1429;
    margin-top: 0%;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.feature__text {
    color: $primary-text-color;
    line-height: 1.743;
    margin: 0%;
}


.feature__item-icon {
    border: none;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: $portfolio-button-color;
}

.feature__item {
    // flex-basis: calc((100% - 90px) / 4);
    width: 100%;
     @media screen and (min-width:768px) {
     flex-basis: calc((100% - 30px) / 2);
    }
     @media screen and (min-width:1200px) {
    flex-basis: calc((100% - 90px) / 4);
    }
}
// .feature__item:not(:last-child){
//     margin-bottom: 30px;
// }