$title-text-color: #212121;
$accent-color: #2196f3;  
$black-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$second-background-color: #2f303a;
$pasiv-button-color: #188ce8;
$active-button-color: #2196f3;
$portfolio-button-color: #f5f4fa;
$color-border-card: #eeeeee;
$color-icon: #afb1b8;
$primary-text-color: #757575;
$primary-white-color: #ffffff;


$base-font:Roboto,sans-serif;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

